.booking-container {
    max-width: 600px;
    margin: 100px auto 2rem; /* add top margin to push below navbar */
    padding: 2rem;
  }
  
  
  .booking-form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-form label {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .booking-form input,
  .booking-form textarea,
  .custom-datepicker {
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .booking-form button {
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: #212ea0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #1a1f8b;
  }
  